html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.segmento-kanban {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(26, 26, 26);
}

.segmento-kanban h2 {
  color: white;
}
