.ToDo-container {
  background-color: #232323;
  border-radius: 10px;
  padding: 5px 7px 5px 5px;
  height: 67vh;
  flex-shrink: 0;
  overflow: auto;
}

/* Ancho de la barra desplazadora */
.ToDo-container::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la barra */
.ToDo-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb (parte móvil) */
.ToDo-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Color del thumb al pasar el cursor */
.ToDo-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
